<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/footer.css">
	<title>footer</title>
</head>

<body>
	<!-- 푸터 -->
	<footer class="footer">
		<div class="footer-container">
			<!-- 회사 정보 -->
			<div class="footer-section">
				<h5><a href="https://www.snuh.org/main.do">서울대학교병원</a></h5>
				<p>서울특별시 종로구 대학로 101</p>
				<p>전화: 02-1234-5678</p>
				<p>이메일: info@snu.ac.kr</p>
			</div>

			<!-- 사이트 링크 -->
			<div class="footer-section">
				<h5>사이트 링크</h5>
				<ul>
					<li><a href="/history">진료이력</a></li>
					<li><a href="/reservation_cust">진료예약</a></li>
					<li><a href="/board_home">Q&A게시판</a></li>
					<li><a href="/message_home">고객지원</a></li>
				</ul>
			</div>

			<!-- 소셜 미디어 아이콘 -->
			<div class="footer-section">
				<h5>소셜 미디어</h5>
				<ul class="social-media">
					<li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
					<li><a href="https://twitter.com" target="_blank">Twitter</a></li>
					<li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
				</ul>
			</div>

			<!-- 저작권 정보 -->
			<div class="footer-section">
				<h5>저작권</h5>
				<p>&copy; 2024 서울대학교병원. All Rights Reserved.</p>
			</div>
		</div>
	</footer>
</body>

</html>